<h1>conversations index page</h1>

<!-- 
Display messages that user is part of, as well as a list of users to message
Also display the conversation link as the other person's name. The link sends them to the
messages index for that conversation.
-->
<% if @conversations.empty? %>
  <div>"No conversations"</div>
<% else %>  
  <% @conversations.each do |conversation| %>
    <% if (conversation.guest == current_user) || (conversation.listing.host_id == current_user.id) %>
      <div><%= link_to "Go to conversation for listing at #{conversation.listing.full_address}", conversation_messages_path(conversation) %></div>
    <% end %>
  <% end %>
<% end %>